doctype html
head
    meta(charset='UTF-8')
    title Login
    link(rel='stylesheet' href='./stylesheets/style.css')
h1 Login
form
    .form-field
        label
            input(type='text' name='username' placeholder='username')
    .form-field
        label
            input(type='password' name='password')
    .form-field
        input(type='submit' value='Sign in')