doctype html
head
    meta(charset='UTF-8')
    title Login
    style
        include ../public/stylesheets/style.css
h1 Login
form(action="http://127.0.0.1:5000/login" method="post")
    .form-field
        label
            input(type='text' name='username' placeholder='username')
    .form-field
        label
            input(type='password' name='password')
    .form-field
        input(type='submit' value='Sign in')